.App {
  text-align: center;

  header {
    // height: 150px;
    width: 80%;
    margin: 0 auto;
    padding: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .logo {
      height: 100px;
    }

    .title {
      font-size: 1.5em;
    }

    .Input {
      input,button {
        background-color: black;
        color: darkgrey;
      }
      input.inputName {
        width: 161px;
      }
      input.inputAge,input.inputHeight {
        width: 55px;
      }
    }
  }

  section.Smurf {
    .smurfDBResults {
      width: 80%;
      margin: 0 auto;

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 0.5rem;

      .smurf {
        height: 200px;
        min-width: 200px;
        
        // margin: 1em;
        // padding: 0.5em;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border: 1px solid;
        border-radius: 5px;

        img.gif {
          // padding: 5px;
          max-width: 100%;
        }
      }
    }
  }

  section.SuperSecretSmurfyGifSearch {
    .smurfGifResults {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
      grid-gap: 0.5rem;

      .smurfGif {
        height: 200px;
        width: 355px;
        
        // margin: 1em;
        // padding: 0.5em;
        border: 1px solid;
        border-radius: 5px;

        img.gif {
          // padding: 5px;
          max-width: 100%;
        }
      }
    }
  }

  .hide {
    display: none;
  }
}